# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables
.env*.local

# Coverage directory
coverage/

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/